@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <a href="https://github.com/CMeeg/phoria" target="_blank" rel="noreferrer">
        <img src="~/img/phoria.svg" class="h-32 inline max-w-none" alt="Phoria logo" />
    </a>
</div>
<h1 class="font-bold my-16">Phoria Islands</h1>

<div class="p-8">
    <phoria-island component="Counter" client="Client.Load" props="new { StartAt = 0 }"></phoria-island>
</div>

<p class="text-neutral-500">Click on the logos to learn more</p>
