@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<a href="https://github.com/CMeeg/phoria" target="_blank" rel="noreferrer">
		<img src="~/img/phoria.svg" class="logo" alt="Phoria logo" asp-append-version="true" />
	</a>
</div>

<h1>Phoria Islands</h1>

<div class="card">
	<phoria-island component="Counter" client="Client.Load" props="new { StartAt = 0 }"></phoria-island>
</div>

<p class="read-the-docs">Click on the logos to learn more</p>
